* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #17663f;
    padding: 2px;
    text-align: center;
    color: white;
}

/* Style the footer */
footer {
    background-color: #17663f;
    padding: 10px;
    color: white;
}

nav {
    background-color: #5df191;
    width: 100%;
    display: inline-flex;
    overflow: hidden;
    font-size: 25px;
}

article {
    float: left;
    padding: 1px;
    width: 100%;
    font-size: 15px;
    background-color: #5df191;
}


.InfoLine {
    background-color: #5df191;
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: black;
    font-size: 25px;
}

.Left {
     text-align: left;
 }

.nav_button {
  background-color: inherit;
  float: left;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  padding: 15px 15px;
  transition: 0.3s;
  font-size: 25px;
}

