
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="scaffolded-by" content="https://github.com/google/stagehand">
        <title>TopBox With Dart</title>
        <link rel="stylesheet" href="dart.css">
        <link rel="icon" href="favicon.ico">
        <script defer src="dart/main.dart.js"></script>
    </head>

    <body>
        <div id="page_welcome">
            <header>
                <h2>Welcome - Who are you?</h2>
                <h3>Select from below</h3>
            </header>
            <section>
                <div id="userNameList"></div>
            </section>            
        </div>
        <div id="page_main">
            <header>
                <h2 id="headerUserName"></h2>
            </header>
            <section>
                <div id="userThumbnailList"></div>
            </section>            
        </div>
        <footer>
            <h3>Messages</h3>
            <p style="font-family: 'Courier New';", id="diagnosticText"></p>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 10%; text-align: left;" id="timeText"></td>
                    <td style="width: 80%; text-align: center;" id="errorMessageText"></td>
                    <td style="width: 10%; text-align: right;" id="dateText"></td>
                </tr>
            </table>
         </footer>
    </body>
</html>