* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: %{css.body.background};
}

header {
    padding: 1px;
    text-align: center;
    background-color: %{css.header.background};
}

/* Style the footer */
footer {
    padding: 1px;
    background-color: %{css.header.background};
}

article {
    float: left;
    padding: 1px;
    width: 100%;
    font-size: 17px;
    background-color: %{css.main.background};
}

section {
    float: left;
    display: inline-block;
    color: black;
    width: 100%;
    font-size: 17px;
    background-color: %{css.main.background};
}

hr {
    color: #17663f;
    margin: 2px;
}

.Log {
    float: left;
    display: inline-block;
    color: black;
    padding: 1px;
    width: 100%;
    font-size: 15px;
    background-color: %{css.main.background};  
}

.TitleLine{
    width: 100%;
    color: black;
    padding: 15px 15px;
    text-align: center;
    font-size: 20px;
    background-color: %{css.hilight.background};
}

.InfoLine {
    width: 100%;
    color: black;
    text-align: center;
    font-size: 17px;
    background-color: %{css.main.background};
}

.Left {
    text-align: left;
}

.Hilight {
    background-color: %{css.hilight.background};
}

.nav_button_bar {
  background-color: %{css.main.background};
  float: left;
  width: 100%;
}

.nav_button {
    background-color: inherit;
    float: left;
    width: 20%;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 14px;
    border: 2px solid %{css.button.border};
}

.full_button {
    background-color: #ff7584;
    width: 100%;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 14px;
    border: 2px solid %{css.button.border};
}


