
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="scaffolded-by" content="https://github.com/google/stagehand">
        <title>TopBox With Dart</title>
        <link rel="stylesheet" href="dart.css">
        <link rel="icon" href="favicon.ico">
        <script defer src="dart/main.dart.js"></script>
    </head>

    <body>
        <header id='header'>
            <h1 id="headerUserName"></h1>
        </header>
        <div class="nav_button_bar" id="navButtons">
            <button class="nav_button" id="backButton">Back</button>
            <button class="nav_button" id="homeButton">Home</button>
            <button class="nav_button" id="audioButton">Audio</button>
            <button class="nav_button" id="statusButton">Status</button>
            <button class="nav_button" id="addColButton">Add+</button>
            <button class="nav_button" id="subColButton">Sub-</button>
        </div>
        <div id="page_welcome">
            <article class="InfoLine" >Please click on a picture in the list below:</article>
            <div class="InfoLine Left"  id="userNameList"></div>
        </div>
        <div id="page_main">
            <div class="InfoLine Left" id="userThumbnailDirList"></div>
        </div>
        <div id="page_thumbnails">
            <div class="InfoLine Left" id="userThumbnails"></div>
        </div>
        <div id="page_original">
            <article id="originalImage"></article>
            <div class="nav_button_bar">
                <button class="nav_button" id="imageBackButton">Back</button>
                <button class="nav_button" id="imageHomeButton">Home</button>
                <button class="nav_button" id="imageRotateButton">Rotate</button>
                <button class="nav_button" id="imageRestoreButton">Restore</button>
            </div>
        </div>
        <div id="page_displayLog">
            <article id="logFileName" class="TitleLine" >Log file:</article>
             <div class="nav_button_bar">
                 <button class="nav_button" id="scrollLogDownButton">END</button>
                 <button class="nav_button" id="reloadLogButton">Reload</button>
             </div>
            <pre class="Log" id="displayLog"></pre>
            <div class="nav_button_bar">
                <button class="nav_button" id="scrollLogUpButton">TOP</button>
                <button class="nav_button" id="scrollLogFollow">Follow</button>
            </div>

        </div>
        <div id="page_audio">
            <div class="InfoLine Left" id="audioStatusDisplay">
                <article class="TitleLine" >Audio Status</article>
                <div class="InfoLine Left" id="audioStatus"></div>
                <div class="nav_button_bar">
                    <button class="nav_button" id="audioPauseButton">PAUSE</button>
                    <button class="nav_button" id="audioStopButton">STOP</button>
                </div>            
            </div>
            <article class="TitleLine" id="volumeText">Audio Volume:</article>
            <div class="nav_button_bar">
                <button class="nav_button" id="volumeMinButton">MIN</button>
                <button class="nav_button" id="volumeDownButton">DOWN</button>
                <button class="nav_button" id="volumeUpButton">UP</button>
                <button class="nav_button" id="volumeMaxButton">MAX</button>
            </div>            
            <article class="TitleLine" >Audio Files:</article>
            <div class="InfoLine Left" id="audioFileList"></div>
        </div>
        <div id="page_status">
            <article class="TitleLine" >User File Sizes:</article>
            <div class="InfoLine Left" id="userFileSizes">HI</div>
            <article class="TitleLine" >Current Disk Status:</article>
            <div class="InfoLine Left" id="diskStatus">HI</div>
            <article class="TitleLine" >Log Files:</article>
            <div class="InfoLine Left" id="logFileList">HI</div>
            <article class="TitleLine" >Server Status Data:</article>
            <div class="InfoLine Left" id="serverStatusDataList">HI</div>
            <article class="TitleLine" >Restart The Server:</article>
            <table width="100%"><tr>
                <td width="30%"></td>
                <td width="40%"><button class="full_button" id="restartServerButton">Click Here to Restart The Server</button></td>
                <td width="30%"></td>
            </tr></table>
        </div>
        <footer id="footer">
            <p style="font-family: 'Courier New',serif;" id="diagnosticText"></p>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 10%; text-align: left;" id="timeText"></td>
                    <td style="width: 80%; text-align: center;" id="errorMessageText"></td>
                    <td style="width: 10%; text-align: right;" id="dateText"></td>
                </tr>
            </table>
         </footer>
    </body>
</html>