/* 
    Location   : data/static
    Purpose    : Test that this is NOT templated. The height is NOT replaced!
               : The styleTemplate.css is data/templates should be templated
*/
html { 
    height:%{height}%;
    background: url(background.jpg);
    background-repeat: repeat;
}